.background {
  opacity: 60%;
  background-color: #3F3F3F;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.closeButtonContainer {
  display: flex;
  flex-direction: row-reverse;
  width: var(--cardWidth);
}

.displayContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}