.workxp-span {
  margin-right: 64px;
}

.skills-list {
  list-style-type: square;
}

.skills-table {
  columns: 3;
  list-style-type: square;
  margin-bottom: 48px;
}

.dot-point-list {
  margin-left: 22px;
}

.workexp-separator {
  height: 15px;
}