.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  background-color: seashell;
  width: var(--width-desktop, 100%);
  height: var(--height-desktop, 100vh);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: var(--max-text-width-desktop, 450px);
}

.textContainer>h1 {
  font-family: inherit;
  font-weight: 800;
  font-size: 36px;
  color: black;
  box-sizing: border-box;
  border: solid 3px;
  border-color: transparent transparent #bebebe transparent;
  padding-bottom: 10px;
}

.textContainer>ul {
  list-style: none;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.textContainer>ul>li {
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  color: black;
  line-height: 30px;
  box-sizing: border-box;
  border: solid 3px;
  border-color: transparent transparent #bebebe transparent;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textContainer>ul a {
  text-decoration: none;
}

.textContainer>ul a:link {
  color: var(--link-normal-color);
}

.textContainer>ul a:visited {
  color: var(--link-visited-color);
}

@media (max-width: 1100px) {
  .outerContainer {
    width: var(--width-mobile, 100%);
    height: var(--height-mobile, 100vh);
    min-width: var(--width-mobile, 100%);
    padding: 30px;
  }

  .imageContainer {
    display: none;
  }

  .textContainer {
    max-width: none;
  }

  .textContainer>ul {
    gap: 10px;
  }

  .textContainer>h1 {
    font-size: 24px;
  }

  .textContainer>ul>li {
    font-size: 16px;
  }
}