.page-background {
  background-color: seashell;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.content-block {
  max-width: 1000px;
  flex-grow: 1;
}