.outerContainer {
  display: none;
}

.displayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  gap: 26px;
  width: 100vw;
}

.cardContainer {
  display: flex;
  gap: 10px;
  overflow: scroll;
}

@media (max-width: 1100px) {
  .outerContainer {
    display: block;
  }
}