.container {
  display: flex;
  background-color: #1D1D1D;
  width: 46%;
  height: 300px;
  overflow-y: auto;
  overflow-x: visible;
  /* align-items: flex-start; */
  white-space: nowrap;
}

.inputField {
  background-color: blue;
  color: white;
  padding: 0px;
  border-style: none;
  outline: none;
  resize: none;
  margin-left: 16px;
  line-height: 20px;
  width: 80%;
  overflow: hidden;
}

.myP {
  color: red;
}